<div class="container my-2 border-bottom">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item me-2"><%= link_to "Home", root_path, class: "btn btn-outline-primary me-2" %></li>
        <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "Profile", profile_path(current_user), class: "btn btn-outline-primary me-2" %></li>
        <li class="nav-item"><%= button_to "Log out", destroy_user_session_path, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-outline-danger me-2" %></li>
        <% else %>
        <li class="nav-item">
          <%= link_to "For Doctors", new_doctor_session_path, class: "btn btn-outline-danger me-2" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary me-2" %>
        </li>
        <li>
            <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-outline-primary me-2" %>
        </li>

        <% end %>
      </ul>
    </header>
  </div>
